.card-container {
  width: 25%;
  padding: 8px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.image-container {
  mix-blend-mode: multiply;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20%;
  margin-bottom: 0 auto;
  position: relative;
}

.image-container img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  transition: 0.7s;
}

.card-body {
  padding: 10px 0 0;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(241, 243, 245); */
}

h2 {
  font-size: 18px;
  margin: 0;
}

h4 {
  font-size: 14px;
  margin: 0;
}

.price-container {
  margin: 0;
}

.cart-container-card svg {
    position: absolute;
    z-index: 100;
    width: 20px;
    height: 20px;
    right: 10px;
    bottom: 20px;
    background-color: #ebe6e6;
    padding: 5px;
    box-sizing: unset;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
}

.color-buttons-container {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.color-button {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  margin: 0;
}

/* Add a black border to the selected color button */
.color-button.selected {
  border: 2px solid black;
}

.image-container:hover{
  opacity: 0.6;
}

.image-container:hover .cart-container-card svg{
  opacity:1;
}

.image-container img:hover{
  transform: scale(1.3);
}

@media screen and (max-width: 768px) {
  .card-container {
    width: 33.3%;
  }
}

@media only screen and (max-width: 480px) {
  .card-container {
    width: 50%;
  }

  .card-body h4 {
    font-size: 12px;
  }

  .card-body h2 {
    font-size: 14px;
  }
}
