.card-container {
  overflow: hidden;
  transition: transform 0.3s ease;
  margin: 5px 5px 20px 5px;
  width: 20%;
  height: fit-content;
  position: relative; /* Added position property */
}

.image-container {
  overflow: hidden;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 243, 245);
}

.image-container img {
  display: block;
  width: 80%;
  height: 80%;
}

.card-body {
  display: flex;
  align-items: baseline;
  font-family: GT-America-Regular;
  padding: 10px; /* Added padding to the card body */
}

.card-body small {
  color: rgb(114, 124, 124);
}

.card-title h2 {
  margin: 0;
}

.price-container {
  margin: 0;
  padding-left: 5px;
}

.color-buttons-container {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.color-button {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.color-button.selected {
  border: 2px solid #333;
}

.pagination-status {
  color: rgb(223, 223, 217);
}

@media only screen and (max-width: 480px) {
  .card-container {
      width: 45%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .card-container {
      width: 30%;
  }
}
