.app{
  align-items: center;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.page-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination button {
  cursor: pointer;
  color: black;
  background-color: #ffffff;
  border: 1px solid black; /* Specify style, width, and color */
  padding: 10px 15px;
  margin: 5px;
}

.pagination button:hover {
  background-color: #000000;
  color: #ffffff;
}

.active {
  background-color: #000000;
  color: #ffffff;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .cards-per-page-container{

} */
